<div class="container">
  <div class="row nav-bar" >
    <div class="col-sm-3">
      <p><%= link_to 'HOME', root_path %></p>
    </div>
    <div class="col-sm-3">
      <p><%= link_to 'MEMBERSHIPS', memberships_path %></p>
    </div>
    <div class="col-sm-3">
      <p>GALLERY</p>
    </div>
    <div class="col-sm-3">
      <p>CONTACT</p>
    </div>
  </div>
  <br>
  <h1><%= @membership.membership_type %></h1>
  <p><%= @membership.description %></p>
  <p><%= @membership.tools %></p>
  <br>
  <p>$<%= @membership.cost %> / <%= @membership.cost_rate %></p>
  <br>

  <% if @reviews.any? && current_user%>
    <h3>Member Reviews</h3>
    <ul>
      <% @reviews.each do |review| %>
      <li>
        "<%= review.feedback %>"
        - <%= review.name %><br>
      </li>
      <% end %>
    </ul>
    <p><%= link_to 'add review', new_membership_review_path(@membership) if current_user %></p>
    <br>
  <% else %>
    <p><%= link_to 'be the first to review this membership!', new_membership_review_path(@membership) if current_user %></p>
  <% end %>


</div>
