<div class="container">
  <h1><%= @membership.membership_type %></h1>
  <p><%= @membership.description %></p>
  <p><%= @membership.tools %></p>
  <br>
  <p>$<%= @membership.cost %> / <%= @membership.cost_rate %></p>
  <br>
  <p><%= link_to 'review membership option', new_membership_review_path(@membership) if current_user %></p>
</div>
