<!DOCTYPE html>
<html>
  <head>
    <title>PrintShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="container">  
      <div class="row">
        <div class="col-sm-3">
          <p>home</p>
        </div>
        <div class="col-sm-3">
          <p>memberships</p>
        </div>
        <div class="col-sm-3">
          <p>gallery</p>
        </div>
        <div class="col-sm-3">
          <p>contact us</p>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
